@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Yedi</title>
    <link rel="stylesheet" href="~/HeaderAssets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
</head>

<body>
    <div style="width: 115px;margin:auto;position:relative;">
        <img src="~/HeaderAssets/img/71.png" style="width: 115px;margin:auto;position:relative;">
    </div>
   
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4" id="mainNav" style="background: var(--cyan);border-color: var(--indigo);padding: 0px 0px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;height: 76.891px;">
        <div class="container">
            <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Menü</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="height: 59px;width: 919px;min-width: 0px;max-width: 642px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Index" style="color: var(--white);">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Istanbul2" style="color: var(--white);">İstanbul</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Harita" style="color: var(--white);">Harita</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Yapilar" style="color: var(--white);">Yapılar</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Unity" style="color: var(--white);">Puzzle</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Yarisma" style="color: var(--white);">Yarışma</a></li>

                    @*
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Oyun
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Puzzle</a>
                            <a class="dropdown-item" href="#">Bilgi Yarışması</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link" href="#" style="color: var(--white);">Oyun</a>
                        <ul class="navbar nav-child-indent">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Unity">Puzzle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Yarisma">Bilgi Yarışması</a>
                            </li>
                        </ul>
                    </li>*@
                    <li class="nav-item"><a class="nav-link" asp-area="default" asp-controller="Home" asp-action="Eshop" style="color: var(--white);">Mağaza</a></li>
                    @{if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Role).Value == "uye")
                    {
                    <li class="nav-item"><a asp-action="Profil" asp-area="uye" role="button" class="btn btn-primary" style="margin: 0px;margin-right: 20px;color: var(--white);background: var(--cyan);">@User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Name).Value</a></li>
                    <li class="nav-item"><a asp-action="Cikis" role="button" class="btn btn-danger" style="color: var(--white);">Çıkış Yap</a></li>

                            <!--
                <li class="nav-item dropdown">
                <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#" style="color: var(--white);">User.Claims.FirstOrDefault(f => f.Type == System.Security.Claims.ClaimTypes.Name).Value</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Home" asp-area="uye" asp-action="Profil">Profilim</a>
                    <a class="dropdown-item" asp-controller="Home" asp-area="uye"  asp-action="Shobet">Mesajlar</a>
                    <a class="dropdown-item" asp-controller="Home" asp-area="uye" asp-action="Cikis">>Çıkış Yap</a>
                </div>
            </li>
            -->

                    }
                    else
                    {
                    <li class="nav-item"><a asp-action="Login" role="button" class="btn btn-primary" style="color: var(--white);background: var(--cyan);">Giriş Yap</a></li>
                    <li class="nav-item"><a asp-action="Kayit" role="button" class="btn btn-success" style="color: var(--white);">Kayıt Ol</a></li>
                    }
                    }
                    <!--

    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link" aria-expanded="true" data-toggle="dropdown" href="#" style="color: var(--white);">İçerik</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Home" asp-action="Yapilar">Yapılar</a>
            <a class="dropdown-item" asp-controller="Home" asp-action="Yapilar">İÇERİK2</a>
            <a class="dropdown-item" asp-controller="Home" asp-action="Yapilar">İÇERİK3</a>
        </div>
    </li>

    -->

                </ul>
            </div>
        </div>
    </nav>
    <script src="~/HeaderAssets/js/jquery.min.js"></script>
    <script src="~/HeaderAssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/HeaderAssets/js/script.min.js"></script>
</body>

</html>