<!DOCTYPE html>
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Harita</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.min.css">
    <style>
        body {
            background-image: url(/img/istanbul.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
        @* style="color: var(--indigo);background: url(/img/istanbul.jpg), #baafd3;background-size:%100;background-attachment:fixed;background-repeat:no-repeat;"*@
    </style>
</head>

<body>
        <div class="content-wrapper bg-transparent">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-transparent">
                        <div class="inner">
                            <h3> 15 <sup style="text-decoration-color: azure;font-size: 20px; color: azure;"></sup></h3>

                            <p style="text-decoration-color:azure ">Aktif Kullanıcı</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <!-- small box -->
                    <div class="bg-transparent">
                        <div class="inner">

                            <h3>.   7 Tepe İstanbul'a Hoşgeldiniz<sup style="font-size: 20px"></sup></h3>

                            <pre style="text-decoration-color:aliceblue;outline-color:aliceblue; font-style:italic;">
                    Sana dün bir tepeden baktım aziz İstanbul!
                    Görmedim gezmediğim, sevmediğim hiçbir yer.
                    Ömrüm oldukça, gönül tahtıma keyfince kurul!
                    Sade bir semtini sevmek bile bir ömre değer.

                    Nice revnaklı şehirler görülür dünyada,
                    Lakin efsunlu güzellikleri sensin yaratan.
                    Yaşamıştır derim, en hoş ve uzun rü’yada
                    Sende çok yıl yaşayan, sende ölen, sende yatan.
</pre>
                        </div>
                    </div>

                </div><div>
                    <!-- small box -->
                    <div class="bg-transparent">
                        <div class="inner">

                            <h3><sup style="font-size: 20px">.</sup></h3>

                            <pre style="text-decoration-color:azure;outline-color:aqua ; font-style:italic;">
                                
</pre>
                        </div>
                    </div>

                </div>
            </div>

            <script src="~/assets/js/jquery.min.js"></script>
            <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
        </div>

</body>

</html>
