<!DOCTYPE html>
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profil</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.min.css">
</head>

<body>
    <div class="content-wrapper">
        <section class="article-list" style="color: var(--indigo);background: url(/assets/img/bg-space.jpg), #baafd3;">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Bu Sayfa Yapım Aşamasındadır</h2>
                    <p class="text-center">Kısa sürede tamamlanacaktır</p>
                </div>
                <div>
                    <pre>
                        
                    </pre>
                </div>

                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item" style="border-radius: 29px;background: #002868;opacity: 0;margin-top: 0px;margin-right: 20px;width: 371px;padding: 54px 15px 0px;padding-right: 15px;max-width: 30%;margin-bottom: 15px;">
                    </div>

                    <div class="col-sm-6 col-md-4 item" style="border-radius: 29px;background: #002868;opacity: 0.86;border: 1px solid var(--primary);margin-top: 0px;margin-right: 20px;width: 371px;padding: 54px 15px 0px;padding-right: 15px;max-width: 30%;margin-bottom: 15px;">

                        <a href="#"><img class="img-fluid" src="~/video/yapiliyor.gif"></a>
                        <h7 class="heading" style="color: var(--cyan);"></h7>
                        <h3 class="name" style="color: var(--cyan);"></h3>
                        <pre class="description" style="color: #70cee2;"> </pre>
                    </div>
                </div>



            </div>
        </section>
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    </div>

</body>

</html>
